*{
    margin: 0;
    padding: 0;
}

.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    /* background-position: center; */
}

.donate-col{
    flex-basis: 48%;
    background: #dbc8c8;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    
    /* transition: 0.5s; */
}

.header{
    min-height: 100vh;
    width: 100;
    
}

nav img{
    width: 150px;
    background-color: rgb(0, 255, 85);
    border-radius: 10%;
}

body{
    width: 100;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(images/y6.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.wast{
    width: auto;
    display: block;
    color: rgb(250, 245, 250);
    font-weight: 900;
    position: absolute;
    top: 15%;
    left: 3%;
    /* transform: translate(-50%,-50%); */
    text-align: center;
    /* justify-content: space-between; */

}
h1{
    font-size: 49px;
    /* display: block; */
    font-family: calibri;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-size: 30px;
    text-align: center;
    font-family: calibri;
}
h3{
    font-size: 25px;
    color: black;
    font-family: calibri;
}

.row p{
    color: black;
    text-align: center;
    font-family: calibri;
}

.donate-col img{
    min-height: 200px;
    width: 250px;
    border-radius: 10%;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
        /* justify-content: space-between; */
    }
    
    .other{
        font-size: 34px;
    }
    .another{
        font-size: 18px;
    }
    .wast{
        width: auto;
        display: block;
        color: rgb(250, 245, 250);
        font-weight: 900;
        position: absolute;
        top: 15%;
        left: 0%;
        /* transform: translate(-50%,-50%); */
        text-align: center;
        /* justify-content: space-between; */
    
    }
}